body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to right, #4776e6, #8e54e9);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  color: rgba(255,255,255,0.8);
  font-size: 6rem;
}

button {
  background: rgba(255,255,255,0.3);
  font-size: 3rem;
  min-width: 100px;
  min-height: 100px;
  margin: 10px;
  color:  rgba(255,255,255,0.8);
  border: solid 4px rgba(255,255,255,0.8);
  border-radius: 10px;
  transition: 200ms;
}

button:hover {
  background: rgba(255,255,255,0.6);
}

button:active {
  background: rgba(0,0,0,0.4);
}
